- html5shivDir= "bower_components/html5shiv/dist"
- modernizzrDir = "bower_components/modernizr"

doctype 5
/[if lt IE 7]
  <html lang="ja" class="no-js ie6">

/[if IE 7]
  <html lang="ja" class="no-js ie7">

/[if IE 8]
  <html lang="ja" class="no-js ie8">

html lang="ja" class="no-js"
  head
    meta charset="UTF-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    title バッタになりたい魔法使い | komorikomasha（こもりこましゃ）

    meta name="author" content=""
    meta name="description" content=""
    meta name="keywords" content=""
    / About the Robots <META> tag
      http://www.robotstxt.org/meta.html
      <meta name="robots" content="noindex, follow">
      <meta name="robots" content="index, nofollow">
      <meta name="robots" content="noindex, nofollow">
    meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    meta name="format-detection" content="telephone=no"

    meta property="og:title" content="記事のタイトル"
    / トップページはwebsite、個別ページはarticle
    meta property="og:type" content="article"
    meta property="og:description" content="記事の説明"
    meta property="og:url" content="記事のURL"
    meta property="og:image" content="画像のURL"
    meta property="og:site_name" content="サイトのタイトル"
    meta property="og:locale" content="言語"
    / できればfb:app_idを利用
    meta property="fb:admins" content="facebookのユーザーID"
    meta property="fb:app_id" content="facebookのアプリID"

    link rel="stylesheet" href="../common/css/style.css" media="all"

    /[if lt IE 9]
      script src="#{html5shivDir}/html5shiv.js"
      script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"
      script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"

    script src="http://code.jquery.com/jquery-1.10.2.min.js"
    script src="js/script.js"
  body
    #page
      header#page-head
        h1#site-title komorikomasha
        p#catchcopy 1人じゃできないことも、力を合わせればできる。やってみたいをカタチにする、3人の楽しいものづくり。
        nav.gloval-nav
          ul
            li
              a href="../index.html" ホーム
            li
              a href="../about/index.html" わたしたちについて
            li.current
              a href="index.html" つくったもの
            li
              a href="../contact/index.html" おといあわせ
      
      p.topic-path 
        a<> href="../index.html" ホーム
        | &gt;
        a<> href="index.html" つくったもの 
        | &gt; バッタになりたい魔法使い

      #page-body
        #page-body-main
          article.article-detail
            header.article-detail-head
              h1.page-title バッタになりたい魔法使い
              img src="images/img_03_01.jpg" alt="" width="720" height="390"
              p 
                |ウェブ仕掛け絵本
                br
                a href="http://pararaehon.com/" バッタになりたい魔法使い

            section.article-detail-body
              h2.heading-typeA 合い言葉は、バッタになっちゃえ！
              p 「バッタになりたい魔法使い」は、ライトノベル作家になりたいひろましゃと、イラストレーターになりたいコモモの利害が一致し、手始めに絵本作ってみようかという話になって作りました。
              p 合い言葉は、バッタになっちゃえ！・・まぁ、とにかく絵本を読んでみてください(^ ^)

              table
                caption 制作担当
                tr
                  th コモモ
                  td え
                tr
                  th ひろましゃ
                  td おはなし、JavaScriptとか

              section
                h3.heading-typeB パララックス効果を利用したウェブ仕掛け絵本
                p 絵本の制作にあたって、ひろましゃが、はじめてのJavaScriptに挑戦しました。ブログで作り方を解説していますので、興味のある方は、こちらの記事をご覧ください。
                figure
                  img src="images/img_03_02.jpg" alt="撮影した料理の写真もすぐにトップページで確認できます。" width="720" height="390"

            footer.article-detail-foot
              section
                h2.heading-typeC 関連リンク
                ul
                  li 
                    a href="#" バッタになりたい魔法使い
                  li
                    a href="#" ひろましゃの記事：canvas と Web 仕掛け絵本

        #page-body-sub
          nav.local-nav
            ul
              li
                a href="03.html" バッタになりたい魔法使い
              li
                a href="02.html" WordPressデザインワークブック
              li
                a href="01.html" Cafe Debut
          section.news-list
            h2 お知らせ
            ul
              li 
                time 2013.10.01
                |コモモとモリコで、書籍「HTML/CSSの教科書（仮題）」を執筆中です。お楽しみに。
              li 
                time 2013.10.01
                |コモモ・モリコ・ひろましゃ3人のサイト「komorikomasha」をオープンしました。

      p.pagetop
        a href="#page" ページの先頭へ戻る

      footer#page-foot
        p#copyright 
          small Copyright&copy; 2013 @komorikomasha All Rights Reseraved.

    / grunt-contrib-watch
    script src="//localhost:35729/livereload.js"

    / browser_sync setting
      script src='http://192.168.11.2:3000/socket.io/socket.io.js'
      script src='http://192.168.11.2:3001/browser-sync-client.min.js'
